<AppBarModifier title="Character" />
{#if !firstLoad}
  {#if hasResult}
    <div class="info-character">
      <h1>{character.name}</h1>
      <ul>
        <li>
          <p>Height: <span>{character.height}</span></p>
        </li>
        <li>
          <p>Mass: <span>{character.mass}</span></p>
        </li>
        <li>
          <p>Hair color: <span>{character.hair_color}</span></p>
        </li>
        <li>
          <p>Skin color: <span>{character.skin_color}</span></p>
        </li>
        <li>
          <p>Eye color: <span>{character.eye_color}</span></p>
        </li>
        <li>
          <p>Birthday year: <span>{character.birth_year}</span></p>
        </li>
        <li>
          <p>Gender: <span>{character.gender}</span></p>
        </li>
        <li>
          <p>
            Films: <span>{character.films.length}</span>
            {#if character.films.length > 0}
              <span on:click="showMoreInfoCharacter(character.films, 'Films')" class="icon-eye"><Icon symbol="eye" /></span>
            {/if}
          </p>
        </li>
        <li>
          <p>
            Species: <span>{character.species.length}</span>
            {#if character.species.length > 0}
              <span on:click="showMoreInfoCharacter(character.species, 'Species')" class="icon-eye"><Icon symbol="eye" /></span>
            {/if}
          </p>
        </li>
        <li>
          <p>
            Starships: <span>{character.starships.length}</span>
            {#if character.starships.length > 0}
              <span on:click="showMoreInfoCharacter(character.starships, 'Starships')" class="icon-eye"><Icon symbol="eye" /></span>
            {/if}
          </p>
        </li>
        <li>
          <p>
            Vehicles: <span>{character.vehicles.length}</span>
            {#if character.vehicles.length > 0}
              <span on:click="showMoreInfoCharacter(character.vehicles, 'Vehicles')" class="icon-eye"><Icon symbol="eye" /></span>
            {/if}
          </p>
        </li>
      </ul>
    </div>
    <Printable ref:printable>
      <PrintComponent {...character} />
    </Printable>
    <Dialog ref:defaultDialog>
      <div class="dialog-info">
        <h2>
          {titleInfo}
        </h2>
        <ul>
        {#each infosCharacter as item}
          {#if item.title}
            <li>{item.title}</li>
          {:else}
            <li>{item.name}</li>
          {/if}
        {/each}
        </ul>
        <Button on:click="closeDialog('defaultDialog')" size="full">
          <span class="button-title">CLOSE</span>
        </Button>
      </div>
    </Dialog>
    {#if showLoad}
      <div class="load-info">
        <h2>Loading infos ...</h2>
        <CircularProgress speed="10"/>
      </div>
    {/if}
  {:else}
    <LoaderInfo title="Loading character ..."/>
  {/if}
{:else}
  <div class="box-button-show">
    <div>
      <svg version="1.1" viewBox="0 0 300 132" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g id="star-wars-copy" transform="translate(-1309.000000, -902.000000)"><g id="yoda" transform="translate(1309.000000, 901.000000)"><path d="M36,36.5482 C5.286,26.3542 0,39.8842 0,39.8842 C15.36,39.8842 30.72,59.5222 30.72,59.5222 C51.198,84.9982 66.552,84.9982 66.552,84.9982 C71.13,84.9982 75.168,84.0382 78.69,82.7662 C76.77,76.8742 84,70.5922 84,64.0282 C84,56.3842 99.186,55.2982 102,47.3182 C81.558,49.9702 36,36.5482 36,36.5482" fill="#46A046" id="Fill-1"/><path d="M84,67 C85.74,64.606 88.944,56.542 88.944,54.016 C88.944,48.604 105.024,42.838 108,37.186 C77.028,39.322 37.944,32.782 37.944,32.782 C0.498,24.748 0,39.886 0,39.886 C17.748,35.5 36.348,45.43 36.348,45.43 C72.528,64.576 82.026,67.174 84,67" fill="#8CBE3C" id="Fill-3"/><path d="M198,47.3152 C200.814,55.3012 216,56.3872 216,64.0312 C216,70.5892 223.23,76.8772 221.31,82.7632 C224.832,84.0412 228.87,85.0012 233.448,85.0012 C233.448,85.0012 248.802,85.0012 269.28,59.5192 C269.28,59.5192 284.64,39.8872 300,39.8872 C300,39.8872 294.714,26.3572 264,36.5452 C264,36.5452 218.442,49.9732 198,47.3152" fill="#46A046" id="Fill-5"/><path d="M216,67 C214.26,64.606 211.056,56.542 211.056,54.016 C211.056,48.604 194.976,42.838 192,37.186 C222.972,39.322 262.056,32.782 262.056,32.782 C299.502,24.748 300,39.886 300,39.886 C282.252,35.5 263.652,45.43 263.652,45.43 C227.472,64.576 217.974,67.174 216,67" fill="#8CBE3C" id="Fill-7"/><path d="M150,1 C108.36,1 85.95,53.014 77.064,75.976 C75.252,80.662 74.874,85.756 75.846,90.544 C76.89,95.722 80.022,100.132 84.144,103 L132,133 L168,133 L215.994,102.904 C219.468,100.492 222.336,97.012 223.602,92.77 C225.21,87.358 225.03,81.394 222.936,75.976 C214.05,53.014 191.64,1 150,1" fill="#8CBE3C" id="Fill-9"/><path d="M156,85 L144,85 C142.344,85 141,83.656 141,82 L141,82 C141,80.344 142.344,79 144,79 L156,79 C157.656,79 159,80.344 159,82 L159,82 C159,83.656 157.656,85 156,85" fill="#46A046" id="Fill-11"/><path d="M147,1.2334 L147,18.9994 C147,20.6554 148.344,21.9994 150,21.9994 C151.656,21.9994 153,20.6554 153,18.9994 L153,1.2334 C151.998,1.1734 151.026,0.9994 150,0.9994 C148.974,0.9994 148.002,1.1734 147,1.2334 L147,1.2334 Z M126,24.9994 C126,26.6554 127.344,27.9994 129,27.9994 C130.656,27.9994 132,26.6554 132,24.9994 L132,4.5874 C129.942,5.4034 127.938,6.3334 126,7.3954 L126,24.9994 Z M168,4.5874 L168,24.9994 C168,26.6554 169.344,27.9994 171,27.9994 C172.656,27.9994 174,26.6554 174,24.9994 L174,7.3954 C172.062,6.3334 170.058,5.4034 168,4.5874 L168,4.5874 Z" fill="#46A046" id="Fill-13" opacity="0.5"/><path d="M198,68.5 C197.172,68.5 196.5,67.828 196.5,67 C196.5,54.592 186.402,44.5 174,44.5 C161.598,44.5 151.5,54.592 151.5,67 L148.5,67 C148.5,54.592 138.402,44.5 126,44.5 C113.598,44.5 103.5,54.592 103.5,67 C103.5,67.828 102.828,68.5 102,68.5 C101.172,68.5 100.5,67.828 100.5,67 C100.5,52.942 111.936,41.5 126,41.5 C137.04,41.5 146.454,48.544 150,58.378 C153.546,48.544 162.96,41.5 174,41.5 C188.064,41.5 199.5,52.942 199.5,67 C199.5,67.828 198.828,68.5 198,68.5" fill="#46A046" id="Fill-16" opacity="0.5"/><path d="M132,73 C132,76.312 129.312,79 126,79 C122.688,79 120,76.312 120,73 C120,69.688 122.688,67 126,67 C129.312,67 132,69.688 132,73" fill="#FFFFFF" id="Fill-18"/><path d="M180,73 C180,76.312 177.312,79 174,79 C170.688,79 168,76.312 168,73 C168,69.688 170.688,67 174,67 C177.312,67 180,69.688 180,73" fill="#FFFFFF" id="Fill-20"/><path d="M132,109 L132,109 C131.178,109 130.5,108.322 130.5,107.5 L130.5,98.5 C130.5,97.678 131.178,97 132,97 C132.822,97 133.5,97.678 133.5,98.5 L133.5,107.5 C133.5,108.322 132.822,109 132,109" fill="#46A046" id="Fill-22"/><path d="M150,112 L150,112 C149.178,112 148.5,111.322 148.5,110.5 L148.5,101.5 C148.5,100.678 149.178,100 150,100 C150.822,100 151.5,100.678 151.5,101.5 L151.5,110.5 C151.5,111.322 150.822,112 150,112" fill="#46A046" id="Fill-24"/><path d="M168,112 L168,112 C167.178,112 166.5,111.322 166.5,110.5 L166.5,101.5 C166.5,100.678 167.178,100 168,100 C168.822,100 169.5,100.678 169.5,101.5 L169.5,110.5 C169.5,111.322 168.822,112 168,112" fill="#46A046" id="Fill-26"/><path d="M145.242,109 L139.242,103 L123,103 C121.944,104.92 121.896,107.128 123,109 L136.758,109 L142.758,115 L177,115 C177,115 176.82,109.312 177,109 L145.242,109 Z" fill="#323232" id="Fill-28"/><path d="M126,106.0024 C126,107.6584 124.656,109.0024 123,109.0024 C121.344,109.0024 120,107.6584 120,106.0024 C120,104.3464 121.344,103.0024 123,103.0024 C124.656,103.0024 126,104.3464 126,106.0024" fill="#323232" id="Fill-30"/><path d="M180,112.0024 C180,113.6584 178.656,115.0024 177,115.0024 C175.344,115.0024 174,113.6584 174,112.0024 C174,110.3464 175.344,109.0024 177,109.0024 C178.656,109.0024 180,110.3464 180,112.0024" fill="#323232" id="Fill-32"/></g></g></g></svg>
    </div>
    <Button size="full" on:click="randomCharacter()">SHOW CHARACTER</Button>
  </div>
{/if}
<div class="buttons-character">
  {#if hasResult}
    <Button on:click="randomCharacter()" size="full">
      <Icon symbol="refresh" />
    </Button>
    <Button on:click="refs.printable.print()" size="full">
      <Icon symbol="printer" />
    </Button>
  {/if}
  <Button on:click="goListCharacters()" size="full">
    <Icon symbol="menu" />
  </Button>
</div>

<script>
  import Storage from '@mamba/pos/api/storage.js';
  import Router from 'svelte-page';
  import CharacterService from '../services/service.js';

  export default {
    components: {
      AppBarModifier: '@mamba/appbar/Modifier.html',
      CircularProgress: '@mamba/progress/Circular.html',
      Button: '@mamba/button/Button.html',
      Icon: '@mamba/icon/Icon.html',
      Printable: '@mamba/printable',
      PrintComponent: '../components/PrintComponent.html',
      Dialog: '@mamba/dialog/Dialog.html',
      LoaderInfo: '../components/LoaderInfo.html',
    },
    data() {
      return {
        character: {},
        hasResult: false,
        infosCharacter: [],
        titleInfo: '',
        showLoad: false,
        firstLoad: true,
      };
    },
    oncreate() {
      this.service = new CharacterService();
    },
    methods: {
      formatDate(date) {
        return `${date.getDate() < 10 ? `0${date.getDate()}` : date.getDate()}/${
          date.getMonth() < 10 ? `0${date.getMonth()}` : date.getMonth()
        }/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`;
      },
      randomCharacter() {
        this.set({ hasResult: false, firstLoad: false });
        this.service
          .getCharacter()
          .then(cha => {
            const newObjCharacter = { ...cha };
            const getStorageCharacter = Storage.getItem('charactersLoaded')
              ? Storage.getItem('charactersLoaded')
              : [];
            const newLoadedCharacter = getStorageCharacter;
            const date = new Date();
            newObjCharacter.loaded = this.formatDate(date);
            newLoadedCharacter.push(newObjCharacter);
            Storage.setItem('charactersLoaded', newLoadedCharacter);
            this.set({
              character: cha,
              hasResult: true,
            });
          })
          .catch(error => console.error(error));
      },
      openDialog(dialog) {
        this.refs[dialog].open();
      },
      closeDialog(dialog) {
        this.refs[dialog].close();
      },
      goListCharacters() {
        Router.go('/list');
      },
      showMoreInfoCharacter(listEndpoints, title) {
        this.set({ showLoad: true });
        this.service.getItemsCharacter(listEndpoints).then(response => {
          this.set({
            infosCharacter: response,
            titleInfo: title,
            showLoad: false,
          });
          this.openDialog('defaultDialog');
        });
      },
    },
  };
</script>

<style type="text/postcss">
  .box-button-show {
    background-color: #f4f2f4;
    text-align: center;
    position: fixed;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    div {
      padding: 1em;
    }
  }

  h2 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4ebf1a;
  }

  .load-info {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 1em;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 9999px #00000078;

    h2 {
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #4ebf1a;
    }
  }

  .buttons-character {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .info-character {
    padding: 1em 0;
    margin: 1em;
    padding-bottom: 0;
    margin-bottom: 4em;
    background-color: #f4f2f4;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    h1 {
      font-size: 1.3em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: #4ebf1a;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        text-align: center;
        padding: 1em 0;
        color: white;
        font-weight: bold;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: 0.75em;

          .icon-eye {
            position: absolute;
            right: 1em;
            cursor: pointer;
          }

          span {
            margin-left: 0.2em;
          }
        }

        &:nth-child(odd) {
          background-color: #4ebf1a;
        }

        &:nth-child(even) {
          background-color: green;
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }

  .dialog-info {
    h2 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: #4ebf1a;
      font-size: 2em;
    }

    ul {
      margin-bottom: 1em;

      li {
        padding: 0.5em;
        background-color: green;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 0.9em;

        &:nth-child(odd) {
          background-color: #4ebf1a;
        }

        &:nth-child(even) {
          background-color: green;
        }
      }
    }

    .button-title {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
</style>
