<AppBarModifier title="Home" />
<div>
  <h1>Descriptions</h1>
  <p>Welcome to stone wars</p>
  <ul>
    <li>
      <b>1 - </b>To see the caracters and his caracteristics, click start below.
    </li>
    <li>
      <b>2 - </b>On the character page, click the button to see the character.
    </li>
    <li>
      <b>3 - </b>Button list character
      <span>(<Icon symbol="menu" size="small" />)</span>, show all characters
      loaded.
    </li>
    <li>
      <b>4 - </b>Button reload new character
      <span>(<Icon symbol="refresh" size="small" />)</span>, show other
      character.
    </li>
    <li>
      <b>5 - </b>Button print info character
      <span>(<Icon symbol="printer" size="small" />)</span>, show infos about
      character.
    </li>
    <li>
      <b>6 - </b>Button show specific info
      <span>(<Icon symbol="eye" size="small" />)</span>, show specific info
      about character inside dialog.
    </li>
  </ul>
</div>
<Button size="full" bottom on:click="goCharacter()">
  START
</Button>

<script>
  import Router from 'svelte-page';

  export default {
    components: {
      AppBarModifier: '@mamba/appbar/Modifier.html',
      Button: '@mamba/button',
      Icon: '@mamba/icon/Icon.html',
    },
    methods: {
      goCharacter() {
        Router.go('/character');
      },
    },
  };
</script>

<style type="text/postcss">
  div {
    padding: 1em 0;
    padding-top: 0;
    background-color: #f4f2f4;
    margin: 1em;
    margin-bottom: 4em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #4ebf1a;
    padding: 0.7em 0;
    border-bottom: 1px solid #4ebf1a;
  }

  li {
    padding: 0.5em;
    font-size: 0.85em;
    letter-spacing: 1px;
    color: #4ebf1a;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0.5em 0;
    color: #4ebf1a;
  }
</style>
