<div class="box-load">
  <h2>{title}</h2>
  <CircularProgress speed="10"/>
</div>

<script>
  export default {
    components: {
      CircularProgress: '@mamba/progress/Circular.html',
    },
  };
</script>

<style>
  .box-load {
    padding: 1em 0;
    background-color: #f4f2f4;
    text-align: center;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    h2 {
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #4ebf1a;
    }
  }
</style>
