<h1>{name}</h1>
<div>
  <ul>
    <li>
      <p>Height</p>
      <p>{height}</p>
    </li>
    <li>
      <p>Mass</p>
      <p>{mass}</p>
    </li>
    <li>
      <p>Hair color</p>
      <p>{hair_color}</p>
    </li>
    <li>
      <p>Skin color</p>
      <p>{skin_color}</p>
    </li>
    <li>
      <p>Eye color</p>
      <p>{eye_color}</p>
    </li>
    <li>
      <p>Birthday year</p>
      <p>{birth_year}</p>
    </li>
    <li>
      <p>Gender</p>
      <p>{gender}</p>
    </li>
  </ul>
</div>

<script>
  export default {};
</script>

<style>
  h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
  }

  div {
    display: flex;
    flex-wrap: wrap;

    ul {
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        border: 3px dashed grey;
        border-bottom: none;
        padding: 0.4em 0;

        &:last-child {
          border-bottom: 3px dashed grey;
        }
      }
    }

    p {
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }
  }
</style>
